.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/
bin/
out/

.gradle/
build/
*/build/

lwjgl3/bin/

*.html
*.js
index-files/
resource-files/
script-files/
element-list
package-list
com/**/*.html
*-search-index.js
legal/

.DS_Store
Thumbs.db
*.log
